auto-install-peers=true
strict-peer-dependencies=false
dedupe-peer-dependents=false
resolve-peers-from-workspace-root=false
ignore-workspace-cycles=true
ignore-compatibility-db=true
package-import-method=copy
